/* styles.css */
:root {
/* CSS HEX */
--icy-blue: #b1ddf1ff;
--amethyst-smoke: #9f87afff;
--grape-soda: #88527fff;
--chocolate-plum: #614344ff;
--deep-mocha: #332c23ff;
}

body {
background-color: var(--amethyst-smoke);
}
h1{
  color: var(--deep-mocha);
}  
  
.col{
  border: 1px solid red;
}